@import "./base.scss";

.navbarContainer {
  background-color: $light-green-color;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .navbarMiddleContainer {
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    .largeLine {
      pointer-events: none;
      position: absolute;
      height: 3px;
      background-color: $step-color;
      top: calc(50% - 2px);
      width: 70%;
      div {
        position: relative;
        div {
          position: absolute;
          background-color: $dark-green-color;
          height: 10px;
          width: 10px;
          right: 0;
          top: -3px;
        }
        height: 100%;
        width: 50%;
        width: 0;
        @for $i from 0 through 2 {
          @for $j from 0 through 2 {
            @if $i != $j and $i != undefined and $j != undefined {
              &.from#{$i}to#{$j} {
                div {
                  border-radius: 50%;
                }
                background-color: $dark-green-color;
                @keyframes animation#{$i}-#{$j} {
                  from {
                    width: percentage(($i)/2);
                  }
                  to {
                    width: percentage(($j)/2);
                  }
                }
                animation-name: animation#{$i}-#{$j};
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-duration: 0.5s;
              }
            }
          }
        }
      }
    }

    .navbarVerticalContainer {
      position: relative;
      cursor: pointer;
      flex-grow: 1;
      height: 100%;
      // background-color: red;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .navbarBall {
        z-index: 1;
        $ballSize: 40px;
        position: relative;
        display: flex;
        align-self: center;
        width: $ballSize;
        height: $ballSize;
        border-radius: $ballSize;
        background-color: $step-color;
        .image {
          height: 100%;
          width: 100%;
        }

        .number {
          z-index: 1;
          width: $ballSize;
          height: $ballSize;
          text-align: center;
          line-height: $ballSize;
          font-size: calc(#{$ballSize} - 18px);
          font-weight: 600;
          color: white;
        }
      }
      .navbarTriangle {
        align-self: center;
        height: 15px;
        width: 15px;
        border-left: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }
      &.selected {
        @keyframes lineEffect {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
            transform: scaleY(1.5);
          }
        }
        .navbarTriangle {
          border-bottom: 15px solid white;
        }
        .navbarBall {
          background-color: $dark-green-color;
        }
      }
    }
  }
}
