@import "./styles/base.scss";
@import "./styles/navbar.scss";
@import "./styles/body.scss";

.flexRowRight {
  display: flex;
  justify-content: flex-end;
}
.flexRowCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flexRow {
  display: flex;
  justify-content: center;
}
